
body {
    display: flex;
    flex-direction: column;
}

#top{
    display: flex;
    justify-content: space-between;
}


#name {
   color:rgba(23, 27, 26, 0.603);
}


#nav {
 font-size: 1.2em;
}

#open {
    margin-left: 10px;
    font-size: 1.7em;
}

#intro {
    margin-left: 10px;
}


#container{
    display: flex;
    flex-direction: column;
    margin-left: 33%;
    border-left: 2px solid darkgray;
}

#cont {
    align-self: center;
    font-size: 2em;
}
